@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono');

.searchBox {
    min-width: 80%;
    margin: .5em auto 1em auto;
    padding: .2em .4em .2em .4em;
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    font-weight: 300;
    color: #555;
    text-transform: uppercase;
    border: solid 1px rgb(43, 53, 135);
}

.gridItem {

}