@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* Styles */
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:  border-box;
}


html, body {
  padding: 0;
  margin: 0;
}


/*

  SearchBox

*/

.searchIcon{
	cursor: pointer;
  color: #bbb;
  margin-top: .5em;
  margin-right: 1em;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  position: relative;
  z-index: 2;
  float:right;
}


.searchIcon:hover{
  color: white;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

input[type="checkbox"]#search:checked + label i {
  color: white;
}


input[type="checkbox"]#search:checked ~  .slow-overlay  {
  opacity: 1;
  visibility: visible;
  top: 0;
  height: 50vh;
  z-index: 1;
}

input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
  margin-top: 25vh;
  visibility: visible;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;  
}

input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm > .close-icon::after  {
  visibility:  visible;
}



.slow-overlay{
  width: 100%;
  height: 40vh;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}


.searchForm {
  top: 0vh;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;  
}

.searchBox {   
    max-width: 55%;
    padding: .2em .4em .2em .4em;
    font-family: 'Inconsolata', monospace;
    font-size: 5em;
    font-weight: 600;
    text-transform: uppercase;
    color: #eee;
    background-color: transparent;
    border: inherit;
    outline: none;
    position:relative;   
}


@media only screen and (max-width: 900px){ 
  .searchBox {   
    max-width: 50%;
    font-size: 4.5em;
  }
}

@media only screen and (max-width: 700px){ 
  .searchBox {   
    max-width: 45%;
    font-size: 4.5em;
  }
}

@media only screen and (max-width: 600px){ 
  .searchBox {   
    max-width: 40%;
    font-size: 3em;
  }
}



.searchBox:focus {
   /*box-shadow: 0 0 15px 5px #b0e0ee;*/
   text-transform: uppercase;
   text-decoration: underline;
}

.searchBox:invalid {
   border: none;
}


.search-isin-block{
  height: 45vh;
  background-image: url("../img/dax.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.close-icon {
	border:1px transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  position:relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
  content: "\f00d";
	font-family: FontAwesome;
  font-size: 4em;    
}

.close-icon::after {
	content: "\f00d";
	font-family: FontAwesome;
	cursor: pointer;
  display: block;
	position: absolute;
	z-index:1;	
  left: 0em;
	top: 0.45em;
	padding: 2px;
	text-align: center;
	color: #ddd;    
  visibility:  hidden;
}


.searchBox:not(:valid) ~ .close-icon {
	display: none;
}



.isin-box{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-left: 15%;
}


.isin-each{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-decoration: none;
  margin: 0.2em auto 0.2em auto;
  color: #777;
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;  
}

.isin-each:active {
    color: rgb(43, 53, 135);
}

.isin-each:hover {
    -webkit-transition: all 0.2s linear 0.1s;
    transition: all 0.2s linear 0.1s;  
    color: #444;
}


/*

  helpers

*/

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-left{
  justify-content: flex-start;
}


.flex-right{
  justify-content: flex-end;
}

.flex-left-vertical-center{
  justify-content: flex-start;
  align-content: center;
}

.full-width {
    display: block;
    width: 100%;
}

.center-h{
  display: flex;
  justify-content: center;
}

.center-v{
  display: flex;
  align-content: center;
}



.left-h-top-v{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}


.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}





@media only screen and (min-width: 1200px){ 
}

@media only screen and (min-width: 900px){ 
}

@media only screen and (min-width: 700px){ 
}

@media only screen and (min-width: 600px){ 
}